<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <%= header %>
</head>
<body>
<div class="example" id="qwe">测试实例</div>
<!--img 应该在js中引用并使用模板添加到页面-->
<!--<img src="./../assets/sory.svg"/>-->
</body>
</html>